html, body, #root, .App {
    height: 100%;
    width: 100%;
    position: fixed;
 
}

.lower__layer {

    display: flex;  
    background-color: rgb(244, 246, 248);
    height: 90%;
    margin-bottom: 79%;

}